*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/LocalRepo/libipcamera/build/
/LocalRepo/libmodbus4android/build/
/LocalRepo/libonvif/build/
/LocalRepo/libusbCameraCommon/build/
/LocalRepo/libuvccamera/build/
/LocalRepo/libyyyiot/build/
/app/release/
/.idea/deploymentTargetSelector.xml
/delivered-versions/
